<div id="applogo">
    <table style="width: 100%;">
        <tr>
            <td style="text-align:  left;">
                <h2>
                <mat-icon style="font-size: 50px;">admin_panel_settings</mat-icon>
                </h2>
            </td>
            <td style="text-align:  left;">
                <h2>Application Security Management Console</h2>
            </td>
            <td style="text-align: right; font-size: smaller;">
                Logged user: {{loggedInUser}}
            </td>
        </tr>
    </table>
</div>
<app-table-menu [menuItems]="allMenuItems"></app-table-menu>