<div class="{{anyItems()?'hiddenItem':'visibleItem'}}">Nothing to display, no menu items.</div>
<div class="{{anyItems()?'visibleItem':'hiddenItem'}}">
<table style="width: 100%; table-layout: auto;">
	<tr>
		<td>
            <div class="mat-elevation-z8">
			<table style="width: 100%; table-layout: auto;">
			    <tr>
                    <td class="table-menu-outer-cell" *ngFor="let item of menuItems">
                        <center>
                        <a routerLink="{{item.itemLink}}" routerLinkActive="active" title="{{item.itemTitle}}">
                            <mat-icon aria-hidden="false" class="{{(item.imageLink == undefined || item.imageLink == null)?'hiddenItem':'mat-icon'}}">{{item.imageLink}}</mat-icon>
                            <br/>
                            <span style="font-size: smaller;">{{item.itemName}}</span>
                        </a>
                        </center>
                    </td>
				</tr>
            </table>
            </div>
		</td>
	</tr>
</table>
</div>