<title>{{formTitle}}</title>
<app-info-block [errorClass]="'errorMessage'" [infoClass]="'infoMessage'" [messages]="messages" [informationBlockTitle]="'Information !'"></app-info-block>
<p></p>
<table class="section-title">
    <tr>
        <td class="section-heading">{{formTitle}}</td>
    </tr>
</table>
<p></p>
<div class="{{isCreateOrDeletePermission()?'visibleItem':'hiddenItem'}}">
<table class="form-main-square-back">
<tr>
    <td>
        <table class="form-main-square-front">
            <tr> <!-- Row for form elements-->
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>DomainType</mat-label>
                            <mat-select [(value)]="domainType">
                              <mat-option *ngFor="let item of viewableDomainTypes" [value]="item.name">
                                {{item.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>                        
                        <br/>
                        <mat-form-field appearance="fill">
                            <mat-label>ParentDomain</mat-label>
                            <mat-select [(value)]="parentDomain">
                              <mat-option *ngFor="let item of viewableParents" [value]="item.name">
                                {{item.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>                        
                        <br/>
                        <mat-form-field>
                            <mat-label>Domain Name</mat-label>
                            <input matInput placeholder="Unique Name" [formControl]="objectName">
                        </mat-form-field>
                        <br/>
                        <mat-form-field>
                            <mat-label>Description</mat-label>
                            <textarea matInput placeholder="describe the Domain.." [formControl]="objectDescription"></textarea>
                        </mat-form-field>
                        <br/>
                        <mat-form-field appearance="fill">
                            <mat-label>Associated App</mat-label>
                            <mat-select [(value)]="appIdentifier">
                              <mat-option *ngFor="let item of viewableApps" [value]="item.appIdentifier">
                                {{item.appIdentifier}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>                        
                        <br/>
                    </td>
            </tr>
            <tr>    <!-- Row for buttons-->
                <td>
                    <span class="{{isCreatePermission()?'visibleItem':'hiddenItem'}}">
                        <button (click)="updateObject()" mat-icon-button title="Save Record">
                            Save<mat-icon style="font-size: 24px;">save</mat-icon>
                        </button>
                    </span>
                </td>
                <td>
                      <span class="{{isDeletePermission()?'visibleItem':'hiddenItem'}}">
                        <button (click)="deleteObject()" mat-icon-button title="Delete Record">
                            Delete<mat-icon style="font-size: 24px;">delete</mat-icon>
                        </button>
                      </span>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
<p></p>
<!-- Results -->
<span class="{{isReadPermission()?'visibleItem':'hiddenItem'}}">
<table class="section-heading">
    <tr>
        <td class="section-title">Existing Records</td>
    </tr>
</table>
<app-results-table (currentRowSelected)="rowSelected($event)" [dataSource]="dataSource" [displayedColumns]="displayedColumns"></app-results-table>
</span>