<title>Manage Applications</title>
<app-info-block [errorClass]="'errorMessage'" [infoClass]="'infoMessage'" [messages]="messages" [informationBlockTitle]="'Information !'"></app-info-block>
<p></p>
<div class="{{isCreateOrDeletePermission()?'visibleItem':'hiddenItem'}}">
<table class="section-title">
    <tr>
        <td class="section-heading">{{formTitle}}</td>
    </tr>
</table>
<p></p>
<table>
<tr>
    <td>
        <div class="mat-elevation-z8">
        <table>
            <tr> <!-- Row for form elements-->
                    <td class="form-cell">
                        <mat-form-field>
                            <mat-label>AppIdentifier</mat-label>
                            <input matInput placeholder="unique app identifier" [formControl]="appIdentifier">
                            <mat-error *ngIf="appIdentifier.hasError('required')">{{errorMsgRequiredField}}</mat-error>
                            <mat-error *ngIf="appIdentifier.hasError('maxlength')">{{errorMsgTooManyCharacters}}</mat-error>
                        </mat-form-field>
                    <br/>
                        <!-- <input type="text" [formControl]="appIdentifier" value="appIdentifier"> -->
                        <mat-form-field>
                            <mat-label>Short Identifier</mat-label>
                            <input matInput placeholder="short identifier" [formControl]="shortIdentifier">
                            <mat-error *ngIf="shortIdentifier.hasError('required')">{{errorMsgRequiredField}}</mat-error>
                            <mat-error *ngIf="shortIdentifier.hasError('maxlength')">{{errorMsgTooManyCharacters}}</mat-error>
                        </mat-form-field>

                    <br/>
                        <mat-form-field>
                            <mat-label>App Description</mat-label>
                            <textarea matInput placeholder="describe the app.." [formControl]="appDescription"></textarea>
                            <mat-error *ngIf="appDescription.hasError('required')">{{errorMsgRequiredField}}</mat-error>
                            <mat-error *ngIf="appDescription.hasError('maxlength')">{{errorMsgTooManyCharacters}}</mat-error>
                        </mat-form-field>
                    <br/>
                </td>
            </tr>
            <tr>    <!-- Row for buttons-->
                <td class="form-cell">
                        <span class="{{isCreatePermission()?'visibleItem':'hiddenItem'}}">
                        <button (click)="updateApplication()" mat-icon-button title="Save Application" [disabled]="formGroup.invalid">
                            Save<mat-icon style="font-size: 24px;">save</mat-icon>
                        </button>
                        </span>
                        <!-- <button class="form-button" (click)="updateApplication()" [formControl]="saveButton" ngDefaultControl>Save</button> -->
                </td>
                <td class="form-cell">
                        <span  class="{{isDeletePermission()?'visibleItem':'hiddenItem'}}">
                        <button (click)="deleteApplication()" mat-icon-button title="Delete Record" [disabled]="formGroup.invalid">
                            Delete<mat-icon style="font-size: 24px;">delete</mat-icon>
                        </button>
                        </span>
                        <!-- <button class="form-button" (click)="deleteApplication()" [formControl]="deleteButton" ngDefaultControl>Delete</button> -->
                </td>
            </tr>
        </table>
        </div>
    </td>
</tr>
</table>
</div>
<p></p>
<!-- Results -->
<span  class="{{isReadPermission()?'visibleItem':'hiddenItem'}}">
<table class="section-heading">
    <tr>
        <td class="section-title">Existing Applications</td>
    </tr>
</table>
<app-results-table [selectFunction]="isCreateOrDeletePermission()" (currentRowSelected)="rowSelected($event)" [dataSource]="dataSource" [displayedColumns]="displayedColumns"></app-results-table>
</span>