<title>{{formTitle}}</title>
<app-info-block [errorClass]="'errorMessage'" [infoClass]="'infoMessage'" [messages]="messages" [informationBlockTitle]="'Information !'"></app-info-block>
<p></p>
<table class="section-title">
    <tr>
        <td class="section-heading">{{formTitle}}</td>
    </tr>
</table>
<p></p>
<table >
<tr>
    <td>
        <div class="mat-elevation-z8">
        <table >
            <tr> <!-- Row for form elements-->
                    <td class="form-cell">
                    <mat-form-field>
                        <mat-label>Client Name</mat-label>
                        <input type="text" [matAutocomplete]="firstAuto" matInput placeholder="Type client unique Id" [formControl]="clientName" (keypress)="searchClients()">
                        <mat-error *ngIf="clientName.hasError('required')">{{errorMsgRequiredField}}</mat-error>
                        <mat-error *ngIf="clientName.hasError('maxlength')">{{errorMsgTooManyCharacters}}</mat-error>
                    </mat-form-field>
                    </td>
                    <td class="form-cell">
                        <mat-autocomplete #firstAuto="matAutocomplete">
                            <mat-option *ngFor="let item of searchedClients" [value]="item.clientIdentifier">
                              {{item.clientIdentifier}}
                            </mat-option>
                          </mat-autocomplete>                        
                    </td>                          
                    <td class="form-cell">
                        <button (click)="searchClient()" mat-icon-button title="Search client" [disabled]="formGroup.invalid">
                            Search<mat-icon style="font-size: 24px;" matSuffix>search</mat-icon>
                        </button>
                    </td>
            </tr>
        </table>
        </div>
    </td>
</tr>
</table>
<p>
<div class="{{(swapVisible() && isReadPermission())?'visibleItem':'hiddenItem'}}">
<table style="width: 100%;">
    <tr>
        <td>
            <mat-form-field appearance="fill">
            <mat-label>Associated App</mat-label>
            <mat-select [(value)]="appIdentifier">
                <mat-option *ngFor="let item of viewableApps" [value]="item.appIdentifier">
                {{item.appIdentifier}}
                </mat-option>
            </mat-select>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <div class="mat-elevation-z8">
            <table style="width: 100%;">
                <tr style="align-content: left; text-align: left;"><td  class="form-cell">Group Membership for <b><i>{{clientIdentifier}}</i></b></td></tr>
                <tr><td class="form-cell"></td><td class="form-cell"></td><td class="form-cell"></td></tr>
                <tr> <!-- Titles -->
                    <td  class="form-cell" style="width: 30%; font-weight: bold;">Assigned Groups</td>
                        <td class="form-cell" style="width: 10%;"> 
                        </td>
                    <td  class="form-cell" style="width: 30%; font-weight: bold;">Available Groups</td>
                </tr>
                <tr> 
                    <td class="form-cell" style="width: 30%;">
                            <mat-selection-list #asgS>
                                <mat-list-option *ngFor="let item of assignedGroups" value="{{item.name}}">
                                  {{item.name}} [{{item.appIdentifier==null?'':item.appIdentifier}}]
                                </mat-list-option>
                            </mat-selection-list>                                
                    </td>
                        <td class="form-cell" style="align-items: center; text-align: center; width: 10%;"> 
                            <span class="{{isCreatePermission()?'visibleItem':'hiddenItem'}}">
                            <button (click)="assignGroup(assgS.selectedOptions)" mat-icon-button title="Assign Group">
                                ←Assign
                            </button>
                            </span>
                            <br/>
                            <br/>
                              <!-- The Buttons -->
                            <span class="{{isDeletePermission()?'visibleItem':'hiddenItem'}}">
                              <button (click)="unAssignGroup(asgS.selectedOptions)" mat-icon-button title="Remove Group Membership">
                                Remove→
                            </button>
                        </span>
                        </td>
                    <td class="form-cell" style="width: 30%;">
                        <!-- Available Groups List -->
                        <mat-selection-list #assgS>
                            <mat-list-option *ngFor="let item of assignableGroups" value="{{item.name}}">
                              {{item.name}}
                            </mat-list-option>
                        </mat-selection-list>
                    </td>
                </tr>
            </table>
            </div>
        </td>
    </tr>
</table>
</div>